@font-path: "https://static.desty.app";
@font-face {
  font-family: "Plus Jakarta Sans Bold";
  src: url("@{font-path}/fonts/PlusJakartaSans-Bold.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("@{font-path}/fonts/PlusJakartaSans-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans ExtraBold";
  src: url("@{font-path}/fonts/PlusJakartaSans-ExtraBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("@{font-path}/fonts/Roboto-Medium.ttf");
  font-display: swap;
}
